body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: sans-serif;
  line-height: 1.6;
}

h1, h2, h3 {
  text-align: center;
}

img {
  display: block;
  max-width: 80%;   /* les fa més petites */
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
}

p {
  text-align: justify;
}
